.container {
  display: flex;
  padding: 1rem;
  gap: 5rem;
  .item {
    width: 20rem;
    height: 16rem;
    border-radius: 1rem;
    line-height: 16rem;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
  }
}
